.b1 h1{
    text-align: center;
    background-color: green;
    padding: 35px;
}
#container{
    max-width: 1200px;
}
.b2{
    display: flex;
    gap: 80px;
    padding-left: 5px;
   }
.b2 a{
    text-decoration: none;
    color:black;
   
}
main h1{
    text-align: center;
}
.divider{
    border: 2px solid black;
}
